**IMPORT LIBRARIES**

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import folium
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
df  = pd.read_excel("../Project/Data_set/Airbnb_Open_Data.xlsx")

In [3]:
df

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,2019-05-07 00:00:00,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,6092437,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,...,$169,1.0,0.0,NaN,NaN,3.0,1.0,227.0,No Smoking No Parties or Events of any kind Pl...,NaN
102595,6092990,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,...,$167,1.0,1.0,2015-06-07 00:00:00,0.02,2.0,2.0,395.0,House rules: Guests agree to the following ter...,NaN
102596,6093542,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,United States,...,$198,3.0,0.0,NaN,NaN,5.0,1.0,342.0,NaN,NaN
102597,6094094,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,...,$109,2.0,5.0,2015-11-10 00:00:00,0.10,3.0,1.0,386.0,NaN,NaN
102598,6094647,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,...,$206,1.0,0.0,NaN,NaN,3.0,1.0,69.0,NaN,NaN

**Check Null Values**

In [4]:
df.isnull().sum()

id                                     0
NAME                                 270
host id                                0
host_identity_verified               289
host name                            408
neighbourhood group                   29
neighbourhood                         16
lat                                    8
long                                   8
country                              532
country code                         131
instant_bookable                     105
cancellation_policy                   76
room type                              0
Construction year                    214
price                                247
service fee                          273
minimum nights                       409
number of reviews                    183
last review                        15893
reviews per month                  15879
review rate number                   326
calculated host listings count       319
availability 365                     448
house_rules                        54843
license                           102597
dtype: int64

**Handel Null Values By using Fill na & Drop na**

In [5]:
print(df.NAME.unique())

['Clean & quiet apt home by the park' 'Skylit Midtown Castle'
 'THE VILLAGE OF HARLEM....NEW YORK !' ...
 'Elmhurst 1st Fl Rightl Bedroom'
 'Elmhurst 1st Floor BR w/ Pvt. Bath&Balcony'
 'Parisian Style Apartment in Heart of Brooklyn']

In [6]:
#Drop nan values in name column 
df.drop(df.loc[df['NAME'].isnull()].index.tolist(),inplace=True)

In [7]:
df.host_identity_verified.unique()

array(['unconfirmed', 'verified', nan], dtype=object)

In [8]:
df.host_identity_verified = df.host_identity_verified.fillna('unconfirmed')

In [9]:
df.rename(columns={'host name':'host_name'},inplace=True)

In [10]:
df.host_name=df.host_name.fillna('unkonwn')

In [11]:
df.rename(columns={'neighbourhood group':'neighbourhood_group'},inplace=True)

In [12]:
df.neighbourhood_group.unique()

array(['Brooklyn', 'Manhattan', 'brookln', 'manhatan', 'Queens', nan,
       'Staten Island', 'Bronx'], dtype=object)

In [13]:
#replacing with right spelling
df.neighbourhood_group=df.neighbourhood_group.replace('brookln','Brooklyn')
df.neighbourhood_group=df.neighbourhood_group.replace('manhatan','Manhattan')

In [14]:
#rows which have null values in neighbourhood column
df.loc[df['neighbourhood_group'].isnull()]

,id,NAME,host id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
74,1042206,"HARLEM, NEW YORK WELCOMES YOU!!",98195975718,unconfirmed,Violet,NaN,Washington Heights,40.83139,-73.94095,United States,...,$114,2.0,49.0,6/18/2019,1.60,2.0,2.0,NaN,The usual courtesies apply: - No smoking - No ...,NaN
75,1042759,BLUE TRIM GUEST HOUSE,4726877402,unconfirmed,Audrey,NaN,Clinton Hill,40.68346,-73.96374,United States,...,$80,2.0,105.0,6/26/2019,0.92,1.0,1.0,NaN,Shoes off please Cat can go in or out as he de...,NaN
76,1043311,Charming East Village One Bedroom Flat,74322993447,verified,Violet,NaN,East Village,40.72828,-73.98801,United States,...,$124,5.0,21.0,2019-02-01 00:00:00,0.20,4.0,1.0,NaN,no smoking quiet,NaN
77,1043863,Manhattan Room,11468499446,verified,Sofia,NaN,Upper East Side,40.76865,-73.95058,United States,...,$23,1.0,142.0,2019-06-07 00:00:00,1.50,4.0,1.0,NaN,I'm a semi kosher vegetarian which means that ...,NaN
78,1044415,Little King of Queens,68599531533,unconfirmed,Melanie,NaN,Woodside,40.75038,-73.90334,United States,...,$11,30.0,25.0,NaN,0.22,2.0,1.0,NaN,No Street Shoes allowed in House. No cooking K...,NaN
90,1051043,Cozy Bedroom in Williamsburg 3 BR,14067827221,unconfirmed,Lilianna,NaN,Williamsburg,40.71156,-73.96218,United States,...,$53,3.0,174.0,6/22/2019,1.54,5.0,4.0,NaN,Dryer and Washing Machine are in Basement (1.0...,NaN
91,1051595,Sunny room+Pvte office in huge loft,12884105458,unconfirmed,Albert,NaN,Bushwick,40.70032,-73.93830,United States,...,$146,4.0,24.0,NaN,0.28,5.0,1.0,NaN,"To enjoy, relax, feel safe and cozy. Also, kee...",NaN
92,1052148,Spacious Prospect Heights Apartment,63218812094,unconfirmed,Sarah,NaN,Prospect Heights,40.68233,-73.97261,United States,...,$117,4.0,166.0,6/27/2019,3.40,2.0,1.0,NaN,We ask that guests be respectful as there are ...,NaN
148,1083076,NYC Zen,83696952551,verified,Amelia,NaN,East Village,40.72354,-73.98295,United States,...,$119,3.0,30.0,6/17/2019,0.28,5.0,1.0,344.0,No Smoking No Pets No Parties,NaN
161,1090256,Indie-Chic Share In Williamsburg,1595619477,unconfirmed,Darcy,NaN,Williamsburg,40.71088,-73.95055,NaN,...,$204,4.0,202.0,5/28/2019,1.86,5.0,2.0,377.0,"No smoking in the apartment, even with the win...",NaN
168,1094122,Parlor Room In Victorian Townhouse,45745264571,unconfirmed,Heather,NaN,Clinton Hill,40.68843,-73.96408,United States,...,$185,149.0,294.0,6/24/2019,NaN,3.0,3.0,311.0,NaN,NaN
196,1109587,Prime Location in Manhattan,47239505401,verified,unkonwn,NaN,Chelsea,40.74859,-73.99671,United States,...,$53,1.0,375.0,6/18/2019,3.52,3.0,1.0,NaN,ANDREA'S HOUSE RULES: ** All overnight guests...,NaN
241,1134440,ACCOMMODATIONS GALORE #2,81849555528,verified,Richardson,NaN,East Harlem,40.80942,-73.93936,United States,...,$50,3.0,135.0,6/20/2019,1.30,1.0,3.0,109.0,I'm a semi kosher vegetarian which means that ...,NaN
249,1138859,BROWNSTONE SUNDRENCHED BEAUTY,49595827306,unconfirmed,Richardson,NaN,Bushwick,40.68800,-73.91710,United States,...,$206,3.0,111.0,NaN,2.13,NaN,1.0,150.0,Please review the terms of this rental agreeme...,NaN
262,1146039,DOMINIQUE'S NY mini efficiency* wifi*metro*quiet,73292273095,verified,Hamilton,NaN,Eastchester,40.88057,-73.83572,United States,...,$182,2.0,38.0,6/27/2019,0.50,4.0,13.0,NaN,Please do not let any of the animals outside! ...,NaN
287,1159846,**Fantastic Williamsburg Apt**,98480978167,unconfirmed,Baker,NaN,Williamsburg,40.71031,-73.95830,United States,...,$77,NaN,9.0,2/16/2019,0.11,4.0,1.0,323.0,Maximum of 2 guests staying in the studio. No...,NaN
295,1164265,Cozy Private Room in Apartment,11745797323,unconfirmed,Tucker,NaN,Harlem,40.82976,-73.94867,United States,...,$192,30.0,64.0,2018-06-07 00:00:00,0.68,1.0,1.0,52.0,NaN,NaN
319,1177520,BROOKLYN > Guest Room w/ King Bed in Williamsburg,59305845429,verified,Holmes,NaN,Williamsburg,40.71398,-73.95763,United States,...,$216,2.0,220.0,6/22/2019,2.17,3.0,2.0,361.0,NaN,NaN
361,1200716,Bienvenue,92724296556,verified,Richards,NaN,Queens Village,40.72413,-73.76133,United States,...,$134,1.0,43.0,2019-08-07 00:00:00,0.45,5.0,1.0,150.0,- no shoes inside - quiet after 8:30pm,NaN
384,1213419,Sun-Drenched Hamilton Hts Jewel,618609977,unconfirmed,Payne,NaN,Harlem,40.82399,-73.95328,United States,...,$217,14.0,35.0,2019-01-06 00:00:00,0.35,5.0,1.0,61.0,I feel very responsible and accountable for yo...,NaN
415,1230541,Truly Amazing Oasis In The City,65344662582,unconfirmed,Heather,NaN,Williamsburg,40.71363,-73.96019,United States,...,$170,3.0,150.0,2019-05-07 00:00:00,1.55,3.0,1.0,NaN,NaN,NaN
448,1248766,Hancock Town House!-Stuyvesant Mews,17302896128,unconfirmed,Lucia,NaN,Bedford-Stuyvesant,40.68669,-73.91989,United States,...,$200,1.0,27.0,2017-08-10 00:00:00,0.28,1.0,4.0,181.0,NaN,NaN
465,1258156,â˜† STUDIO East Village â˜† Own bath! â˜† Slee...,87134189711,unconfirmed,Alan,NaN,East Village,40.72636,-73.98917,United States,...,$103,2.0,280.0,2019-05-07 00:00:00,2.92,1.0,3.0,94.0,NaN,NaN
488,1270858,The Happy home!,91709093046,verified,Eddy,NaN,East Harlem,40.79320,-73.94007,United States,...,$227,2.0,15.0,2/15/2016,0.16,NaN,1.0,326.0,Please remember that this is a residential bui...,NaN
492,1273068,Large Quiet Bedroom Near Columbia U,95738430033,verified,Rebecca,NaN,Harlem,40.80518,-73.95359,United States,...,$189,5.0,43.0,2018-03-01 00:00:00,0.47,3.0,2.0,147.0,NaN,NaN
40383,23304867,2000 sq ft Unique Cozy Art Home with Private Room,57604959046,unconfirmed,Angeline,NaN,Bushwick,40.69085,-73.90937,United States,...,$62,1.0,0.0,NaN,NaN,4.0,1.0,269.0,NaN,NaN
40396,23312047,Large room near express trains & Central Park,22672807843,unconfirmed,Julian,NaN,Upper West Side,40.79471,-73.96918,United States,...,$35,4.0,2.0,2/22/2019,0.37,2.0,1.0,0.0,No pets. No smoking. Please :),NaN

In [15]:
#filling nan values by using lat and long with chat gpt
df.at[74,'neighbourhood_group']='Manhattan'
df.at[75,'neighbourhood_group']='Brooklyn'
df.at[76,'neighbourhood_group']='Manhattan'
df.at[77,'neighbourhood_group']='Manhattan'
df.at[78,'neighbourhood_group']='Queens'
df.at[90,'neighbourhood_group']='Brooklyn'
df.at[91,'neighbourhood_group']='Brooklyn'
df.at[92,'neighbourhood_group']='Brooklyn'
df.at[148,'neighbourhood_group']='Manhattan'
df.at[161,'neighbourhood_group']='Brooklyn'
df.at[168,'neighbourhood_group']='Brooklyn'
df.at[196,'neighbourhood_group']='Manhattan'
df.at[241,'neighbourhood_group']='Manhattan'
df.at[249,'neighbourhood_group']='Brooklyn'
df.at[262,'neighbourhood_group']='Bronx'
df.at[287,'neighbourhood_group']='Brooklyn'
df.at[295,'neighbourhood_group']='Manhattan'
df.at[319,'neighbourhood_group']='Brooklyn'
df.at[361,'neighbourhood_group']='Queens'
df.at[384,'neighbourhood_group']='Manhattan'
df.at[415,'neighbourhood_group']='Brooklyn'
df.at[448,'neighbourhood_group']='Brooklyn'
df.at[465,'neighbourhood_group']='Manhattan'
df.at[488,'neighbourhood_group']='Manhattan'
df.at[492,'neighbourhood_group']='Manhattan'
df.at[40383,'neighbourhood_group']='Brooklyn'
df.at[40396,'neighbourhood_group']='Manhattan'

In [16]:
#Area in city
df.neighbourhood.unique()

array(['Kensington', 'Midtown', 'Harlem', 'East Harlem', 'Murray Hill',
       'Bedford-Stuyvesant', "Hell's Kitchen", 'Upper West Side',
       'Chinatown', 'South Slope', 'West Village', 'Williamsburg',
       'Fort Greene', 'Chelsea', 'Crown Heights', 'Park Slope',
       'Windsor Terrace', 'Inwood', 'East Village', 'Greenpoint',
       'Bushwick', 'Flatbush', 'Lower East Side',
       'Prospect-Lefferts Gardens', 'Long Island City', 'Kips Bay',
       'Clinton Hill', 'Washington Heights', 'Upper East Side',
       'Woodside', 'Brooklyn Heights', 'Prospect Heights',
       'Carroll Gardens', 'Gowanus', 'Flatlands', 'Cobble Hill',
       'Flushing', 'Boerum Hill', 'Sunnyside', 'DUMBO', 'St. George',
       'Highbridge', 'Financial District', 'Ridgewood',
       'Morningside Heights', 'Jamaica', 'Middle Village', 'NoHo',
       'Ditmars Steinway', 'Flatiron District', 'Roosevelt Island',
       'Little Italy', 'East Flatbush', 'Tompkinsville', 'Astoria',
       'Clason Point', 'Eastchester', 'Kingsbridge', 'Two Bridges',
       'Queens Village', 'Rockaway Beach', 'Forest Hills', 'Nolita',
       'Greenwich Village', 'Woodlawn', 'SoHo', 'University Heights',
       'Gravesend', 'Gramercy', 'Allerton', nan, 'East New York',
       'Theater District', 'Concourse Village', 'Sheepshead Bay',
       'Emerson Hill', 'Fort Hamilton', 'Bensonhurst', 'Tribeca',
       'Shore Acres', 'Sunset Park', 'Concourse', 'Elmhurst',
       'Brighton Beach', 'Jackson Heights', 'Cypress Hills', 'St. Albans',
       'Arrochar', 'Rego Park', 'Wakefield', 'Clifton', 'Bay Ridge',
       'Graniteville', 'Spuyten Duyvil', 'Stapleton', 'Briarwood',
       'Ozone Park', 'Columbia St', 'Vinegar Hill', 'Mott Haven',
       'Longwood', 'Canarsie', 'Battery Park City', 'Civic Center',
       'East Elmhurst', 'New Springville', 'Morris Heights', 'Arverne',
       'Cambria Heights', 'Tottenville', 'Mariners Harbor', 'Concord',
       'Borough Park', 'Bayside', 'Downtown Brooklyn', 'Port Morris',
       'Fieldston', 'Kew Gardens', 'Midwood', 'College Point',
       'Mount Eden', 'City Island', 'Glendale', 'Port Richmond',
       'Red Hook', 'Richmond Hill', 'Bellerose', 'Maspeth',
       'Williamsbridge', 'Soundview', 'Woodhaven', 'Woodrow',
       'Co-op City', 'Stuyvesant Town', 'Parkchester', 'North Riverdale',
       'Dyker Heights', 'Bronxdale', 'Sea Gate', 'Riverdale',
       'Kew Gardens Hills', 'Bay Terrace', 'Norwood', 'Claremont Village',
       'Whitestone', 'Fordham', 'Bayswater', 'Navy Yard', 'Brownsville',
       'Eltingville', 'Fresh Meadows', 'Mount Hope', 'Lighthouse Hill',
       'Springfield Gardens', 'Howard Beach', 'Belle Harbor',
       'Jamaica Estates', 'Van Nest', 'Morris Park', 'West Brighton',
       'Far Rockaway', 'South Ozone Park', 'Tremont', 'Corona',
       'Great Kills', 'Manhattan Beach', 'Marble Hill', 'Dongan Hills',
       'Castleton Corners', 'East Morrisania', 'Hunts Point', 'Neponsit',
       'Pelham Bay', 'Randall Manor', 'Throgs Neck', 'Todt Hill',
       'West Farms', 'Silver Lake', 'Morrisania', 'Laurelton',
       'Grymes Hill', 'Holliswood', 'Pelham Gardens', 'Belmont',
       'Rosedale', 'Edgemere', 'New Brighton', 'Midland Beach',
       'Baychester', 'Melrose', 'Bergen Beach', 'Richmondtown',
       'Howland Hook', 'Schuylerville', 'Coney Island', 'New Dorp Beach',
       "Prince's Bay", 'South Beach', 'Bath Beach', 'Jamaica Hills',
       'Oakwood', 'Castle Hill', 'Hollis', 'Douglaston', 'Huguenot',
       'Olinville', 'Edenwald', 'Grant City', 'Westerleigh',
       'Bay Terrace, Staten Island', 'Westchester Square', 'Little Neck',
       'Fort Wadsworth', 'Rosebank', 'Unionport', 'Mill Basin',
       'Arden Heights', "Bull's Head", 'New Dorp', 'Rossville',
       'Breezy Point', 'Willowbrook', 'Glen Oaks', 'Gerritsen Beach',
       'Chelsea, Staten Island'], dtype=object)

In [17]:
#rows which have null values in neighbourhood column
df.loc[df['neighbourhood'].isnull()]

,id,NAME,host id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
517,1286875,"""The Oasis"" on Bedford Williamsburg",30603782652,unconfirmed,Lucas,Brooklyn,NaN,40.71580,-73.95803,NaN,...,$130,6.0,1.0,2016-01-01 00:00:00,0.02,5.0,1.0,266.0,1. No parties. 2. Respect the neighbors. Nois...,NaN
547,1303444,STYLISH EAST VILLAGE FLAT,6825076306,verified,Arnold,Manhattan,NaN,40.73089,-73.98195,United States,...,$150,30.0,25.0,4/30/2018,0.26,4.0,1.0,67.0,NaN,NaN
553,1306758,Comfortable. Spacious. Private Room.,45534966158,unconfirmed,Ned,Manhattan,NaN,40.71300,-73.99752,United States,...,$123,NaN,172.0,2019-02-07 00:00:00,1.84,5.0,2.0,63.0,Please be gentle with the furniture and applia...,NaN
575,1318909,"2 Bed, 2 Bath Apartment on Central Park West",86633710982,unconfirmed,Arthur,Manhattan,NaN,40.79816,-73.96190,United States,...,$178,2.0,45.0,4/22/2019,0.47,4.0,3.0,4.0,NaN,NaN
589,1326641,CBG Helps Haiti Rm #3,33952991254,verified,Jacob,Brooklyn,NaN,40.68012,-73.97847,United States,...,$159,2.0,23.0,9/15/2018,0.24,1.0,6.0,NaN,Please remember that this is a residential bui...,NaN
613,1339896,Wonderfully inviting East Village,84560895335,verified,Carter,Manhattan,NaN,40.72709,-73.98274,United States,...,$97,1.0,109.0,2015-02-10 00:00:00,1.15,2.0,1.0,116.0,NaN,NaN
624,1345971,Stylish Studio with exclusive Terrace,21547822804,unconfirmed,Cole,Manhattan,NaN,40.75348,-73.97065,United States,...,$83,30.0,136.0,6/19/2019,1.45,4.0,1.0,272.0,Please remember that this is a residential bui...,NaN
633,1350942,Lower East Side/Chinatown 1 Bedroom,58408401042,verified,Higgins,Manhattan,NaN,40.71693,-73.98948,United States,...,$230,5.0,8.0,5/18/2018,0.11,3.0,1.0,42.0,NaN,NaN
643,1356465,2BR Apt - 20min to Soho,21192497123,verified,Barrett,Brooklyn,NaN,40.68016,-73.94878,United States,...,$188,3.0,5.0,2017-09-07 00:00:00,0.05,2.0,1.0,408.0,Smoking is allowed on the patio only. No pets ...,NaN
670,1371377,Loft Suite @ The Box House Hotel,75427375884,verified,Gray,Brooklyn,NaN,40.73641,-73.95330,United States,...,$21,3.0,24.0,2018-06-11 00:00:00,0.32,4.0,28.0,419.0,NaN,NaN
678,1375795,Loft Suite @ The Box House Hotel,34416621424,verified,Smith,Brooklyn,NaN,40.73693,-73.95316,NaN,...,$183,3.0,30.0,2019-03-07 00:00:00,0.32,5.0,28.0,296.0,House Rules Welcome to Boston-Furnished-Rental...,NaN
681,1377452,Loft w/ Terrace @ Box House Hotel,77372797211,unconfirmed,Higgins,Brooklyn,NaN,40.73783,-73.95259,United States,...,$106,3.0,3.0,2015-03-11 00:00:00,0.03,2.0,28.0,216.0,PLEASE NOTE: â€¢ 6.25% MA State Sales Tax is ...,NaN
726,1402306,Studio sublet in Hell's kitchen,42150054304,verified,Baker,Manhattan,NaN,40.76217,-73.98411,United States,...,$166,5.0,8.0,2015-08-01 00:00:00,0.09,3.0,1.0,322.0,Please Note: This unit was just renovated in A...,NaN
731,1405067,One bed suite with private garden,464927437,unconfirmed,Myers,Manhattan,NaN,40.78304,-73.97447,United States,...,$125,30.0,16.0,3/31/2019,0.17,4.0,5.0,24.0,"No smoking, no pets, no parties please. Respec...",NaN
760,1421084,Spacious room on charming block in Greenpoint!,67988523719,verified,Williams,Brooklyn,NaN,40.72723,-73.95728,United States,...,$149,4.0,6.0,4/21/2019,0.07,3.0,1.0,20.0,NaN,NaN
770,1426607,Nights in White Satin in the Slope,54377094483,unconfirmed,Farrell,Brooklyn,NaN,40.65992,-73.99042,United States,...,$222,180.0,1.0,2016-01-09 00:00:00,0.03,4.0,1.0,163.0,NaN,NaN

In [18]:
#filling nan values by using lat and long with chat gpt
df.at[517,'neighbourhood']='Williamsburg'
df.at[547,'neighbourhood']='East Village'
df.at[553,'neighbourhood']='Chinatown'
df.at[575,'neighbourhood']='Morningside Heights'
df.at[589,'neighbourhood']='Prospect Heights'
df.at[613,'neighbourhood']='East Village'
df.at[624,'neighbourhood']='Turtle Bay'
df.at[633,'neighbourhood']='Lower East Side'
df.at[643,'neighbourhood']='Bedford-Stuyvesant'
df.at[670,'neighbourhood']='Greenpoint'
df.at[678,'neighbourhood']='Greenpoint'
df.at[681,'neighbourhood']='Greenpoint'
df.at[726,'neighbourhood']='Midtown'
df.at[731,'neighbourhood']='Upper West Side'
df.at[760,'neighbourhood']='Williamsburg'
df.at[770,'neighbourhood']='Sunset Park'

In [19]:
#lat and long null values
df.loc[df['lat'].isnull()]

,id,NAME,host id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
779,1431578,"Large, furnished room in a 2 bedroom!",20368956893,unconfirmed,Gibson,Brooklyn,Crown Heights,NaN,NaN,United States,...,$108,1.0,1.0,3/18/2017,0.04,2.0,1.0,41.0,- Weekly and monthly prices are much lower - P...,NaN
785,1434892,Authentic NY Charming Artist Loft,66486085219,unconfirmed,Bailey,Brooklyn,Greenpoint,NaN,NaN,United States,...,$212,5.0,14.0,6/19/2019,0.16,5.0,1.0,226.0,We live and let live - hoping that you'd be re...,NaN
799,1442624,Huge room with private balcony,69386945815,verified,Hunt,Manhattan,East Village,NaN,NaN,United States,...,$101,6.0,1.0,2013-06-05 00:00:00,0.01,1.0,1.0,240.0,Expect respect for the family and the space--t...,NaN
814,1450908,Decorators 5-Star Flat West Village,33280739304,verified,Watson,Manhattan,West Village,NaN,NaN,United States,...,$76,20.0,157.0,2016-11-08 00:00:00,1.71,4.0,1.0,61.0,"Please keep it clean, thats all we really ask ...",NaN
843,1466925,Nice Private Room Beauty in Queens,15305733205,verified,Roberts,Queens,Elmhurst,NaN,NaN,United States,...,$45,1.0,63.0,5/18/2019,0.89,3.0,2.0,70.0,NaN,NaN
885,1490122,Cute Room in Historic Loft!,42267829819,unconfirmed,Jones,Brooklyn,Greenpoint,NaN,NaN,United States,...,$105,14.0,22.0,2019-02-05 00:00:00,0.25,1.0,1.0,266.0,"Pets are cool (just clean up after them!), smo...",NaN
926,1512766,21 day Chelsea Apartment rental,10876728736,unconfirmed,Owens,Manhattan,Flatiron District,NaN,NaN,United States,...,$125,21.0,0.0,NaN,NaN,2.0,1.0,104.0,NaN,NaN
986,1545904,New York City for All Seasons!,26437872336,unconfirmed,Douglas,Manhattan,Upper West Side,NaN,NaN,United States,...,$83,1.0,25.0,6/22/2013,0.28,2.0,1.0,259.0,No Smoking No Pets,NaN

In [20]:
#for filling values in two columns at same time
df.loc[779, ['lat', 'long']] = ['40.6694', '-73.9438']
df.loc[785,['lat','long']] = ['40.7265',' -73.9815']
df.loc[799,['lat','long']] = [' 40.7358','-74.0036']
df.loc[814,['lat','long']] = ['40.7358','-74.0036']
df.loc[843,['lat','long']] = ['40.7425','-73.8780']
df.loc[885,['lat','long']] = ['40.7304','-73.9543']
df.loc[926,['lat','long']] = ['40.7401','-73.9903']
df.loc[986,['lat','long']] = ['40.7860','-73.9754']

C:\Users\sujal\AppData\Local\Temp\ipykernel_13364\1742572120.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '40.6694' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[779, ['lat', 'long']] = ['40.6694', '-73.9438']
C:\Users\sujal\AppData\Local\Temp\ipykernel_13364\1742572120.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-73.9438' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[779, ['lat', 'long']] = ['40.6694', '-73.9438']

In [21]:
df.country.unique()

array(['United States', nan], dtype=object)

In [22]:
df.country = df.country.fillna('United States')

In [23]:
df.rename(columns={'country code':'country_code'},inplace=True)

In [24]:
df.country_code.unique()

array(['US', nan], dtype=object)

In [25]:
df.country_code = df.country_code.fillna('US')

In [26]:
df.instant_bookable.unique()

array([ 0.,  1., nan])

In [27]:
df.instant_bookable = df.instant_bookable.fillna(0)

In [28]:
df.loc[df['instant_bookable'].isnull()]

Empty DataFrame
Columns: [id, NAME, host id, host_identity_verified, host_name, neighbourhood_group, neighbourhood, lat, long, country, country_code, instant_bookable, cancellation_policy, room type, Construction year, price, service fee, minimum nights, number of reviews, last review, reviews per month, review rate number, calculated host listings count, availability 365, house_rules, license]
Index: []

[0 rows x 26 columns]

In [29]:
df.cancellation_policy.unique()

array(['strict', 'moderate', 'flexible', nan], dtype=object)

In [30]:
df.cancellation_policy = df.cancellation_policy.fillna('Not Unkown')

In [31]:
df.rename(columns={'Construction year':'construction_year'},inplace=True)

In [32]:
#we will not change nan bcz when we convert in date datatype it will show analysis
df.construction_year.unique()

array([2020., 2007., 2005., 2009., 2013., 2015., 2004., 2008., 2010.,
       2019., 2018., 2006., 2016., 2017., 2021., 2003., 2011., 2012.,
       2022., 2014.,   nan])

In [33]:
#Price column cleaning and data type change
df.price.unique()
df.price = df.price.str.replace('[$,]','',regex=True)
df.price = df.price.fillna('0')
df.price = df.price.astype('int64')

In [34]:
#service fee
df.rename(columns={'service fee':'service_fee'},inplace=True)
df.service_fee =df.service_fee.str.replace('[$,]','',regex=True)
df.service_fee = df.service_fee.fillna('0')
df.service_fee = df.service_fee.astype('int64')

In [35]:
df.service_fee.unique()

array([193,  28, 124,  41, 115,  14, 212, 204,  58,  64, 121, 143, 116,
        30,   0,  56,  95,  27, 210, 163, 235, 106,  55,  42,  86, 133,
       154, 102, 172, 109,  38, 222, 219, 202, 113,  74, 137, 171,  12,
        87, 183,  92,  73, 146, 180,  67,  51, 181,  88, 165, 129, 207,
        17,  63, 147, 105,  48, 114,  80,  23,  11, 149, 213, 211, 182,
       117,  39,  25, 216,  53,  10, 118,  72, 101,  61, 177,  49, 100,
       168,  13, 152, 126, 135,  46,  91, 199, 158, 221, 132, 189,  90,
       186,  66, 225, 220,  19, 238, 119,  98,  34, 227,  32, 148, 203,
        93, 153,  71,  77, 190,  75, 185,  97,  35,  37, 231,  82, 120,
        21, 145,  65, 144, 108, 194,  16, 217, 188,  81,  50, 176, 151,
        26,  89, 218, 104,  44,  79,  22, 131, 240, 192, 215, 191,  94,
       206, 157, 159, 233,  15, 229, 179,  85, 136, 170, 201, 175, 141,
       156, 123,  36, 198, 122, 208, 140,  68, 196,  70, 187, 228, 209,
       134,  20, 110, 234, 107, 138, 139,  31,  29,  45,  47, 162, 239,
       184, 161, 200,  33,  59, 103,  83, 128, 166, 125,  54,  43,  18,
       167, 130, 174, 236,  69, 111, 142, 150,  24, 223, 169, 178, 195,
        76,  40, 232, 205, 230,  52,  96, 224, 197, 164, 127,  62,  99,
        84, 237, 155,  57, 226, 160, 173,  60, 214,  78, 112], dtype=int64)

In [36]:
#min nights cleaning
df.rename(columns={'minimum nights':'min_nights'},inplace=True)
df.min_nights.unique()
df.min_nights=df.min_nights.replace('[-]','',regex=True)
df.min_nights = df.min_nights.fillna('0')
df.min_nights = df.min_nights.astype('int64')

In [37]:
#Removing all empty space with underscol
df.columns=df.columns.str.replace(' ','_',regex=True)

In [38]:
#number of reviews
df.number_of_reviews.unique()
df.number_of_reviews = df.number_of_reviews.fillna('0')
df.number_of_reviews = df.number_of_reviews.astype('int64')

In [39]:
df.last_review.unique()

array(['10/19/2021', '5/21/2022', nan, ..., '2/26/2020', '2/25/2020',
       '2/24/2020'], dtype=object)

In [40]:
#reviews_per_month
df.reviews_per_month.unique()
df.reviews_per_month=df.reviews_per_month.fillna('0')
df.reviews_per_month = df.reviews_per_month.astype('int64')

In [41]:
#review_rate_number
df.review_rate_number.unique()
df.review_rate_number=df.review_rate_number.fillna('0')

In [42]:
#calculated_host_listings_count
df.calculated_host_listings_count.unique()
df.calculated_host_listings_count=df.calculated_host_listings_count.fillna('0')
df.calculated_host_listings_count.astype('int64')

0         6
1         2
2         1
4         1
5         1
         ..
102594    1
102595    2
102596    1
102597    1
102598    1
Name: calculated_host_listings_count, Length: 102329, dtype: int64

In [43]:
#availability_365
df.availability_365.unique()
df.availability_365 = df.availability_365.abs()
df.availability_365=df.availability_365.fillna('0')
df.availability_365.astype('int64')

0         286
1         228
2         352
4         289
5         374
         ...
102594    227
102595    395
102596    342
102597    386
102598     69
Name: availability_365, Length: 102329, dtype: int64

In [46]:
df.drop(columns=['license'], inplace=True)

In [47]:
df.house_rules.unique()
df.house_rules=df.house_rules.fillna('no rule')

In [48]:
df.availability_365 = df.availability_365.astype('int64')
df.calculated_host_listings_count = df.calculated_host_listings_count.astype('int64')
df.review_rate_number = df.review_rate_number.astype('int64')
df.last_review = df.last_review.astype('datetime64[ns]')
df.instant_bookable = df.instant_bookable.astype('int64')

In [49]:
df.construction_year = df.construction_year.fillna(0).astype('int64')

In [50]:
df.dtypes

id                                         int64
NAME                                      object
host_id                                    int64
host_identity_verified                    object
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
lat                                       object
long                                      object
country                                   object
country_code                              object
instant_bookable                           int64
cancellation_policy                       object
room_type                                 object
construction_year                          int64
price                                      int64
service_fee                                int64
min_nights                                 int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                          int64
review_rate_number                         int64
calculated_host_listings_count             int64
availability_365                           int64
house_rules                               object
dtype: object

In [62]:
df.isnull().sum()

id                                    0
NAME                                  0
host_id                               0
host_identity_verified                0
host_name                             0
neighbourhood_group                   0
neighbourhood                         0
lat                                   0
long                                  0
country                               0
country_code                          0
instant_bookable                      0
cancellation_policy                   0
room_type                             0
construction_year                     0
price                                 0
service_fee                           0
min_nights                            0
number_of_reviews                     0
last_review                       15857
reviews_per_month                     0
review_rate_number                    0
calculated_host_listings_count        0
availability_365                      0
house_rules                           0
dtype: int64